.__tagembed__popupwrap {
    z-index          : 99999;
    position         : fixed;
    left             : 0;
    right            : 0;
    top              : 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform    : translateY(-50%);
    transform        : translateY(-50%);
    margin           : 0 auto;
    max-width        : 320px;
    background       : #fff;
    border           : 1px solid #c3c4c7;
    padding          : 0;
    min-width        : 255px;
    text-align       : center;
    box-shadow       : 0 1px 1px rgb(0 0 0 / 4%);
}

.__tagembed__iconarea {
    background       : #3973ab;
    width            : 50px;
    height           : 50px;
    margin           : 15px auto 0;
    border-radius    : 50%;
    display          : -webkit-box;
    display          : -ms-flexbox;
    display          : flex;
    -webkit-box-align: center;
    -ms-flex-align   : center;
    align-items      : center;
    -webkit-box-pack : center;
    -ms-flex-pack    : center;
    justify-content  : center;
}

.__tagembed__iconarea .fa {
    font-size: 24px;
    color    : #fff;
}

.__tagembed__btnwrap button {
    text-decoration: none;
    border         : 1px solid gainsboro;
    ;
    text-decoration: none;
    text-shadow    : none;
    padding        : 0 10px;
    line-height    : 2.15384615;
    min-height     : 32px;
    display        : inline-block;
    min-width      : 62px;
}

.__tagembed__btnwrap button:hover {
    opacity: 0.85;
    cursor : pointer;
}

.TaggboxToast {
    background  : #2271b1;
    color       : #fff;
    margin-right: 10px;
}

.__tagembed__title h2 {
    font-size    : 21px;
    font-weight  : 400;
    border-bottom: 1px solid #f1f1f1;
    padding      : 0 15px 15px;
}

.__tagembed__desc {
    padding-left : 15px;
    padding-right: 15px;
}

.__tagembed__btnwrap {
    padding-top   : 15px;
    padding-bottom: 15px;
    margin-top    : 15px;
    border-top    : 1px solid #c3c4c7;
}

.__tagembed__horizontaborder {
    padding-bottom: 15px;
    margin-bottom : 15px;
    border        : 0;
    margin-top    : 0;
    border-bottom : 1px solid #c3c4c7;
}

.__tagembed__extratag>ul {
    width             : calc(100% - 24px);
    background-color  : #fff;
    z-index           : 1000;
    border-radius     : 0 0 2px 2px;
    border            : 1px solid #d9d9d9;
    font-family       : Arial, sans-serif;
    -moz-box-sizing   : border-box;
    -webkit-box-sizing: border-box;
    box-sizing        : border-box;
    overflow          : hidden;
    padding           : 0px;
    position          : absolute;
    margin-top        : -2px;
    margin-left       : 1px;
}

.__tagembed__extratag>ul>li {
    cursor       : default;
    padding      : 0 4px;
    text-overflow: ellipsis;
    overflow     : hidden;
    white-space  : nowrap;
    line-height  : 30px;
    text-align   : left;
    border-top   : 1px solid #e6e6e6;
    font-size    : 11px;
    color        : #999;
    position     : relative;
    padding-left : 11px;
    cursor       : pointer;
}

.__tagembed__extratag>ul>li>img {
    vertical-align: middle;
    margin-right  : 7px;
    max-height    : 20px;
    border-radius : 50%;
}

.__tagembed__inputLoader {
    position: absolute;
    top     : 28px;
    right   : 20px;
    display : none;
}

.__tagembed__inputLoader img {
    height: 20px;
}

.__tagembed__popupwrap .__tagembed__formwbody .__tagembed__formwrow {
    position: relative;
}

.__tagembed__extratag {
    margin-top: 15px;
}

.__tagembed__extratag>ul {
    margin-top: -15px;
}

.__tagembed__extratag label>select,
.__tagembed__extratag label>input {
    margin-top: 5px;
}